body {
    font-family: "Noticia Text", sans-serif;
    background-image: url(../img/grass.png);
}

.content__title {
    font-size: 13vw;
}

.content__credits, .intro {
    font-family: 'Noticia Text';
}

.content__credits {
    font-size: 1rem;
}